
@media (min-width: 1024px) and (max-width: 3760px){

/* --- header --- */
/* ------- menu -------- */
/* menu yellow bg as well */
.menu{
    /* position:relative; */
    /* grid-area:menuTxt; */
    margin-top: -0.3%;
    grid-column: 18/span 72;
    grid-row:2;
    background-image: url("../en pic/En laptop bg logo,menu and title.svg");
    background-repeat: no-repeat; 
    width: 100%;
    /* background-size: 85%; */
    transform: translate(0%,-11.5%);
    /* background-color: brown; */
    z-index: 5;
    /* overflow: hidden; */
}


/* gray menu bg */
.menu ul {
grid-column:4/span3;
background-image: url("../en pic/En laptop menu bg.svg");
background-repeat: no-repeat;
background-size: 55%;
gap:4.6%;
display: flex;
/* flex-direction: row; */
/* flex-wrap: wrap; */
/* align-items: center; */
width:110%;
height:130px;
transform: translate(9%,-7%);
/* background-color: aqua; */
z-index: 20;

}

.menu li{
    transform: translateY(5%);
    display: flex;
    /* gap:22px; */

    /* flex:0 1 11%; */
    z-index: 10;
}


/*  */
  /* --- about company  --- */
  .aboutImage{
    visibility: inherit;
    grid-column: 8 / span 15;
    grid-row: 1 / span 6 !important;
    background-size: contain;
    height: 103vh !important;
    width: 30vw!important;
}

/* animation part statistics */

.yearsWork{
    position: relative;

    background-color: rgb(97, 97, 97);
    animation: yearsWorkExAnim 4s forwards ease-in-out;
    animation-iteration-count: 1; 
 }

/* .yearsWork.visible{
    animation: yearsWorkExAnim 4s forwards ease-in-out !important;
    animation-iteration-count: 1; 
    animation-delay: 1s;

} */
 .yearsWork span:nth-child(2){
    /* opacity: 0; */
    text-wrap: nowrap;
    font-size: 24px;
    animation: numYearsWorkAnim 4s forwards ease-in-out;

 }


 .yearsWork span:nth-child(2).visible{
    animation: numYearsWorkAnim 4s forwards ease-in-out;
    animation-delay: 2s;

 }



 .successRate{
    position: relative;


    background-color: rgb(189, 189, 189);
    animation: successRateAnim 4s forwards ease-in-out;
    animation-iteration-count: 1; /* Play only once */
    /* animation-delay: 5s; */
 }
 /* .successRate.visible{
    animation: successRateAnim 4s forwards ease-in-out;
    animation-iteration-count: 1; 
    animation-delay: 2s;

 } */
 .successRate span:nth-child(2){
    opacity: 0;
    text-wrap: nowrap;

    /* animation: numSuccessRateAnim 4s forwards ease-in-out !important; */
    animation: numSuccessRateAnim 4s forwards ease-in-out;
    /* animation-delay: 2s; */
 }
 /* .successRate span:nth-child(2).visible{
    animation: numSuccessRateAnim 4s forwards ease-in-out !important;
    animation-delay: 2s;

 } */



 .satisfiedClients{
    position: relative;

    background-color: rgb(255, 215, 0);
    /* overflow: hidden; */
    /* padding-right: 20px; */
    animation: satisfiedClientsAnim 4s forwards ease-in-out;
    /* animation-delay: 5s; */

 }


 
.satisfiedClients span:nth-child(2){
    opacity: 0;
    /* position:static; */
    text-wrap: nowrap;
    /* transform: translateX(0); */

    animation: numSatisfiedClientsAnim 4s forwards ease-in-out;
    /* animation-delay: 3s; */
 }


 /* .satisfiedClients span:nth-child(2).visible{
    animation: numSatisfiedClientsAnim 4s forwards ease-in-out;
    animation-delay: 2s;


 } */
/* setting time duration annimation */
.yearsWork span:nth-child(2), .successRate span:nth-child(2),.satisfiedClients span:nth-child(2){
    animation-delay: 3s;
}
.yearsWork, .successRate,.satisfiedClients{
    animation-delay: 3s;
}


/*  */
.aboutCompany{
    grid-column: 22/span 13;
    grid-row:1 !important;
    display: flex;
    text-align: left !important;
    justify-content: left;
}
.aboutCompany span:nth-child(1),.aboutDash{
    visibility: visible;
    opacity: 1;
    display: flex;
    /* background-color: red; */
    /* color:aqua; */
     text-align: center;
    align-items:baseline;
    /* justify-content: center;  */
    transform: translateY(-20px);
    /* width: 100%; */
    z-index: 1000;
}
.aboutSlogan{
    grid-column: 22/span 13;

    grid-row:2 !important;
    text-align: left;
    
}
.aboutDetails{
    grid-column: 22/span 13;

    grid-row:3 !important;
    margin-bottom: 30px;

}
.aboutDetails p{
    text-align: justify;
}
    .aboutPros{
    grid-column:22/span 9 ;
    grid-row:4/span 3 !important;
    display: flex;
    flex-direction: column;
    gap:0px;

}
.aboutExperties,.aboutAccurate,.aboutQuality{
    justify-content: left;
    text-align: left;

}
.aboutEmergency{
    grid-column:30/span 4 ;
    grid-row:4/span 3 !important;
    /* align-self: left !important; */
    display: flex;
    justify-content: left !important;
    text-align: left;
    gap:0px;
}


    /*  */
/* portfolio */


.slide{
    /* padding-top: 7vw; */
    width:220px;
    margin-top: 250px;
    /* padding-bottom: 8vw; */
    /* margin-bottom: 220px; */
}
.bullet-container {
    /* padding-top: 16vw; */
    margin-top: 250px;
}
/*  */



    /* --products-- */


/* product  */
/* .products{
display:flex;
} */
.productIntro{
    grid-column: 4 / span 5;
    grid-row: 1;
    justify-content: left; 
    
}
.productIntro.visible {
    grid-column: 4/span 9;
    justify-content: left;    
}
.productsPhotos {
    /* text-align: left; */
    height: 10vh;
}

.productTitle{
    grid-column: 4 / span 9;
    grid-row: 2; 
    justify-content: left; 
    
}
.productDetails{
    grid-column: 4 / span 9;
    grid-row: 3;
    justify-content: left; 
    display: flex;

}
.productDetails.visible{
    justify-content:left;
    display: flex;
}

.productsPhotos{
    flex-direction: row;
}


/* -- footer contact -- */
.contactText{
    text-align: left;
}

.footerAddresses{
    justify-content: left;
    text-align: left;
    /* gap:3px; */

}
.locationText, .phoneNumIconText, .emailIconText{
    justify-content: left;
    text-align: left;

}
.locationText, .phoneNumText, .emailText{
    margin-left: 10px;
}
.locationIcon{
    width: 20px;

}
.locationText{
    font-size: 20px; 
}
.phoneNumIcon{
    width: 20px;
}
.phoneNumText{
    font-size: 20px; 
}
.emailIcon{
    width: 25px;
}
.emailText{
    font-size: 20px; 
}

/*  */
/* footer second part */
.footerSocial{
    grid-column: 4 / span 8;
    gap: 2vw;
    justify-content: left;
}
.footerLang{
    grid-row: 7;
}

.myAddress{
    grid-row: 7;

    grid-column: 32 / span 6;
}
/*  */

  /* visability  part */
  .aboutChart,.menuMT{
    visibility: hidden;
    opacity: 0;
    display: none;
  }
.aboutCompany span:nth-child(1),.productIntro span:nth-child(1),.menu{
    opacity:1;
    visibility:visible;
    display: flex;

}
.yearsWork , .successRate , .satisfiedClients{
    opacity:1;
    visibility:visible;
    display: flex;

}
/*  */

}
@media (min-width:1024px) and (max-width:1200px){
         /* -- header social media -- */
         .socialMedia ul{
            transform: translate(-10%,-60%);
    
        }

    /* -- address -- */
    .addresses {
        grid-column: 18/ span 80;
    }

    .item:nth-child(1){
        flex-basis: 45%;
    }
    .item:nth-child(2){
        flex-basis: 58%;
    }
    .item:nth-child(3){
        flex-basis: 65%;
    }



        /* -- lang -- */
        .dividerLang{
            grid-column: 100;
            /* grid-row: 1 */
            margin-left: 20%;

        }
        .lang{
            grid-column: 100;
            transform: translate(0%, -8%);
            margin-left: -20%;
    
        }

        /* -- menu -- */
        .menu{
            position:relative;
            margin-top: -1.5%;
    
        }
        .menu ul {
            transform: translate(9%,-11%);
    
        }
        .menu li{
            transform: translateY(6%);
    
        }

       /* -- title -- */
       .title{
        margin-top: -19%;
    }

    /* -- about -- */
   /* .yearsWork,.successRate,.satisfiedClients{
        font-size:75%;

    }
    .yearsWork span:nth-child(2),.successRate  span:nth-child(2),.satisfiedClients  span:nth-child(2){
        font-size:100%;

    }
    .aboutCompany{
        transform: translateY(0%);

 }
 .aboutCompany span:nth-child(1){
    transform: translateY(-10%);


}
     .aboutSlogan{
        font-size: 150%;;
        transform: translateY(-155%);

    }
    .aboutDetails{
        transform: translateY(-75%);


    }
    .aboutPros{
        transform: translateY(-170%);

    }
    .aboutEmergency{
        transform: translate(22%,-170%);

    }
    .aboutEmergency span:nth-child(2){
        font-size: 100%;

    } */
    /* footer */








}

/* Typical Devices: Small laptops, lower-resolution desktops  --1024px to 1279px--*/

@media (min-width:1200px) and (max-width:1279px){

     /* -- header social media -- */
     .socialMedia ul{
        transform: translate(0%,50%);

    }



    /* -- lang header -- */
    .dividerLang{
        grid-column: 99;
        transform: translateX(21px);

    }
    .lang{
        grid-column: 100;
        margin-left: -20%;

    }
    .lang li:nth-child(1){
        transform: translateX(0%);

    }
    .lang li:nth-child(2){
        font-size: .7vw;

    }

    /* -- menu -- */
    .menu{
        margin-top: -1.5%;

    }
    .menu ul {
        transform: translate(9%,-11%);

    }
    .menu li{
        transform: translateY(6%);

    }
    .title{
        margin-top: -19%;
    }
    .socialMedia img{
    
        transform: translate(100%,-60%);

    }
    .yearsWork,.successRate,.satisfiedClients{
        font-size:95%;

    }
    .yearsWork span:nth-child(2),.successRate  span:nth-child(2),.satisfiedClients  span:nth-child(2){
        font-size:100%;

    }
    /* .aboutCompany span:nth-child(1){
        transform: translateY(-10%);


    }
    .aboutSlogan{
        font-size: 150%;;
        transform: translateY(-160%);

    }
    .aboutDetails{
        transform: translateY(-80%);


    }
    .aboutPros{
        transform: translateY(-180%);

    }
    .aboutEmergency{
        transform: translate(22%,-180%);

    }
    .aboutEmergency span:nth-child(2){
        font-size: 100%;

    } */
    .portfolioSlogan{
        font-size: 200%;


    }

    .photoShape{
        bottom: 25%;
    }
    .photoShape span:nth-child(1){
        font-size:120%;

    }






}

@media (min-width:1279px) and (max-width:1881px){






}





/* Typical Devices: Large desktops, high-resolution monitors
 --1280px to infinity-- */

 @media (min-width:1280px) {

    .dividerLang{
        grid-column: 100;
        /* grid-row: 1 */
    }
    .lang{
        grid-column: 100;
        /* transform: translate(0%, -15%); */
        margin-left: -20%;

    }
    .lang li:nth-child(1){
        transform: translateX(0%);

    }

}

/* ------ 1024px - 1280px individual settings ---- */

@media (min-width:1089px) and (max-width:1711px){
     /* -- about -- */
     /* .aboutCompany{
        transform: translateY(0%);

 }
 .aboutCompany span:nth-child(1){
    transform: translateY(-11%);


}
    .aboutSlogan{
        font-size: 150%;;
        transform: translateY(-155%);

    }
    .aboutDetails{
        transform: translateY(-45%);


    }
    .aboutPros{
        transform: translateY(-100%);

    }
    .aboutEmergency{
        transform: translate(22%,-100%);

    } */


}

@media (min-width:1150px) and (max-width:1711px){
    .aboutPros{
        transform: translateY(-30%);

    }
    .aboutEmergency{
        transform: translate(22%,-30%);

    }


}


/* -- large monitor -- */

@media (min-width:2178px){
    /* addresses */
    .addresses {
        grid-column: 22/ span 76;
    }
/* about */

    .aboutDetails{
        transform: translateY(0%);


    }
    .aboutPros{
        transform: translateY(90%);

    }
    .aboutEmergency{
        transform: translate(22%,99%);

    }



}
/* @media (min-width: 768px) and (max-width: 1023px) { */

 @media (min-width:1800px) and (max-width:2510px){
    @keyframes yearsWorkExAnim{
        0% {
            width: 7.3vw;
        }
    
        100% {
            width: 18vw;
    
        }
    }
    @keyframes successRateAnim{

        0% {
            width: 7.3vw;
        }
    
    
        100% {
            width: 16vw;
    
    
        }
    }
    @keyframes satisfiedClientsAnim{
        0% {
            width: 7.3vw;
    
        }    
    
    
        100% {
            width: 14vw;
    
        }
    }

 }

 @media (min-width:1001px) and (max-width:1101px){



    .bgImageToAllHero{
    

            background-size: 140% !important; 

            background-position: -370px -210px !important;

    
    }
            }
@media (min-width:1102px) and (max-width:1203px){



.bgImageToAllHero{


        background-size: 140% !important; 
        background-position: -390px -300px !important;


}
        }

@media (min-width:1204px) and (max-width:1305px){



.bgImageToAllHero{


        background-size: 140% !important; 
        background-position: -440px -410px !important;

}
        }

@media (min-width:1306px) and (max-width:1707px){



    .bgImageToAllHero{
    
            /* display:flex; */
            /* height:21vh; */
            /* height: 100vh !important; */
            /* top:0; */
            /* bottom:0; */
            /* padding-top: 12vw; */
            /* background-size:cover !important ; */
            background-size: 100% !important; 
            /* Scale the image */
            background-position: 60px -80px !important;
            /* margin-top: 10% !important; */
    
    }
            }

@media (min-width:1708px) and (max-width:2035px){



    .bgImageToAllHero{
    
    
            background-size: 140% !important; 
            background-position: -590px -500px !important;
    
    }
            } 

@media (min-width:1828px) and (max-width:1869px){



    .bgImageToAllHero{
    
    
            background-size: 140% !important; 
            background-position: -590px -500px !important;
    
    }
            } 

@media (min-width:1870px) and (max-width:2035px){



    .bgImageToAllHero{
    
    
            background-size: 140% !important; 
            background-position: -660px -700px !important;
    
    }
            } 

@media (width:1024px) and (height:1342px){
    .socialMedia ul{
        margin-top: 1vh;

    }
    
    



    .logo{
        height:1px;
        margin-top:-8vh;
    }
    .menu{
        margin-top:0;
    }
    .title{
        margin-top: -15%;
    }

    .bgImageToAllHero{
        /* height:5vh; */
        /* visibility: none; */
        /* height: 10vh; */
        overflow: hidden;
        /* border: 1px solid #ccc; */
        background-size: 259% !important;
        background-position: -1379px -627px !important;
    }


    .welcome{
       grid-row:2; 
    }
    .slogan{
        grid-row:3; 
    }
    .heroDetails{
        grid-row: 4 / span 3;
    }
    .firstDivider{
        grid-row:11;
    }
    .aboutImage{
        min-height: 31vh;

    } 
    .productsPhotos {
        min-height:0vh;
        grid-row:1/ span 10;

    }
    .firstPhoto, .secondPhoto, .thirdPhoto{

        min-height:30vh;
    }
}
